<div class="ticket_cont clearfix">
  <!--left -->
  <div id="LeftContentRegion">
    <div class="ticket_left">
      <div class="seat_screen"> 美嘉欢乐影城三里屯店&nbsp;17TV(巨幕厅)
        <p id="enableSeatCoutRegion">（剩余399个座位）</p>
      </div>
      <!--seatlist -->
      <!--seatlist -->
      <div class="p20 tc"> <span class="inblock mlr15"><i class="seat_ture v_m mr3"></i>可选座位</span> <span class="inblock mlr15"> <i class="seat_selected v_m mr3"></i>已选座位</span> <span class="inblock mlr15"><i class="seat_false v_m mr3"> </i>不可选座位</span> <span class="inblock mlr15"><i class="seat_lover v_m mr3"></i>情侣座位</span>        </div>
      <p id="selectSeatPointOut" class="c_orange mt5 pl60 tl"></p>
      <!--优惠套餐 Begin-->
      <!--优惠套餐 End-->
    </div>
  </div>
  <!--left end -->
  <!--right -->
  <div class="ticket_right" style="background:none;">
    <h2 class="tickettitle">电影票</h2>
    <dl class="new_ticket_pic fix mt20"> <dt><img width="60" alt="侏罗纪世界2" src="http://img5.mtime.cn/mt/2018/05/25/100000.65855294_75X100.jpg"></dt>
      <dd>
        <h2 class="px16">《侏罗纪世界2》</h2>
        <p class="mt9">类型：动作/冒险/科幻</p>
      </dd>
    </dl>
    <!--新的 开始-->
    <!--新的 结束-->
  </div>
  <!--right end -->
</div>
