<dd class="tickettime" style="">
  <ul class="clearfix">
    <li class="curr">
      <a data-selector="buy" href="http://piao.mtime.com/onlineticket/showtime/1823177933/">
        <div class="timebox fl">
          <p class="only">21:25<span class="nextday"></span></p>
          <p><span>3D</span><span></span></p>
        </div>
        <div id="price_1823177933" class="pricebox fl" newprice="73" oldprice="150" style="">
          <p class="only">¥73</p>
          <p class="del">¥150</p>
        </div>&nbsp;<b class="trueticket">购票</b></a>
    </li>
  </ul>
  <p class="morelink"><a method="hideshowtime" cid="{0}" href="#" onclick="return false;"><b class="v_m">收起</b><span> ∧</span></a></p>
</dd>
